@model eShopSolution.ViewModels.System.Users.UserUpdateRequest
@{
    ViewData["title"] = "Edit User";
    Layout = "_Layout";

}

<div class="container-fluid px-4">
    <h1 class="mt-4">Update</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item "> <a asp-action="Index" asp-controller="User">Users</a> </li>
        <li class="breadcrumb-item active">Edit</li>

    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1">  </i>
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Back To List's User</a>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="mt-4 mb-0">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Edit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

