.no-translate {
    display: none; /* Hoặc sử dụng display: inline; để hiển thị dưới dạng không dịch */
}
iframe {
    height: 0;
    display: none
}
/* Ẩn toàn bộ tiện ích dịch */
#google_translate_element {
    display: none;
}

    /* Hiển thị lại chỉ phần select box */
    #google_translate_element select.goog-te-combo {
        display: inline-block;
    }
